

.container{

    display: flex;
    flex-direction: row;
    height: 97vh;
    position: relative;


}

.west{
    display: flex;
    flex-direction: column;
    width: 50%;
    position: relative;
}

.east{

    display: flex;
    width: 50%;

}

#curve{

    margin-bottom: 0px;
    position: absolute;
    bottom: 0;
    left: 0;


}

#quotes{
    position: absolute;
    left: 250px;
    top: 170px;
}

.east img{
    height: 95% ;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img .pattern{
    position: relative;
}


.double{

    width: 1000px;
    height: 450px;
    position: absolute;
    background-color:transparent;
    right: 200px;
    top: 100px;
    overflow: hidden;
    
    
}

.carousel{
    width: 200%;
    height: 100%;
    transform: translate(-50%);
   
    display: flex;
    position: relative;

}

.slider{
    height: 100%;
    display: flex;
    width: 200%;
    
}



img .tanya{

    margin-right: 0px;
}

.slider section{
    flex-basis: 100%;
    justify-content: center;
   
    display: flex;
    


}

#john{
    margin-right: 0.5%;
    border-radius: 13px;
    height: 440px;
    margin-top: 5px;
}

#tanya{
    margin-right: 0.5%;
    border-radius: 13px;
    height: 440px;
    margin-top: 5px;
}

p{
    font-size: 32px;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    color: hsl(240, 38%, 20%);
    margin-top: 6.5rem;
}

.credentials{
    display: flex;
    flex-direction: row;
    padding-bottom: 1rem;
    

}

.name{
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 20px;
    margin-right: 2rem;
    
}

.developer{
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: hsl(240, 18%, 77%);
    padding-bottom: 0rem;
    display: flex;
    padding-top: 2.6px;

}

.controls{
    position: absolute;
    width: 79px;
    height: 39px;
    right: 300px;
    bottom: -5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    gap: 1rem;
    background-color: white
    ;
    
  
}

.arrow{
    margin-top: auto;
    margin-bottom: auto;
    margin: 4px;
    cursor: pointer;

}
.arrow .left{
    margin-right: 4px;

}
.arrow .right{
    margin-right: 4px;
}